{% extends 'base.html.twig' %}

{% block title %}Sprint index{% endblock %}

{% block body %}

    <div style="margin-left: 25%; width: 100%">
        <h1 style="margin-left: 2%;">Liste des sprints</h1>
        <a class="bouton_add_sprint" href="{{ path('sprint_new', {'id' : project.id}) }}">Ajouter un sprint</a>
        <table class="table_sprints">
            <thead>
                <tr>
                    <td>Nom</td>
                    <th>Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for sprint in sprints %}
                <tr>
                    {# <td>{{ sprint.id }}</td> #}
                    <td>{{ sprint.title }}</td>
                    {# <td>{{ sprint.resume }}</td> #}
                    <td>{{ sprint.dateStart ? sprint.dateStart|date('d-m-Y') : '' }} - {{ sprint.dateEnd ? sprint.dateEnd|date('d-m-Y') : '' }}</td>
                    <td class="td_voir">
                        <a href="{{ path('sprint_show', {'id': sprint.id}) }}">Voir</a>
                        {# <a href="{{ path('sprint_edit', {'id': sprint.id}) }}">edit</a> #}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
