{% extends 'base.html.twig' %}

{% block title %}Sprint index{% endblock %}

{% block body %}
    <h1>Sprint index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Resume</th>
                <th>DateStart</th>
                <th>DateEnd</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sprint in sprints %}
            <tr>
                <td>{{ sprint.id }}</td>
                <td>{{ sprint.title }}</td>
                <td>{{ sprint.resume }}</td>
                <td>{{ sprint.dateStart ? sprint.dateStart|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sprint.dateEnd ? sprint.dateEnd|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('sprint_show', {'id': sprint.id}) }}">show</a>
                    <a href="{{ path('sprint_edit', {'id': sprint.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sprint_new', {'id' : project.id}) }}">Create new</a>
{% endblock %}
