{% extends 'base.html.twig' %}

{% block title %}Sprint{% endblock %}

{% block body %}

    <div class="conteneur">
        <div class="title-sprint">
            <h1>Le Sprint</h1>
        </div>

        <div class="form-add-delete">
            <a href="{{ path('sprint_index', {'id' : sprint.project.id}) }}" class="back-sprints">Retour aux sprints</a>
            {{ include('sprint/_delete_form.html.twig') }}
        </div>

        

        <div class="sprint-content">
            <div class="sprint-content-block">
                <h2 class="title-todo">À FAIRE</h2>
                    <ul>
                    {% for task in sprint.tasks %}
                        {% if task.status == 'todo' %}
                        <li>{{ task.id }} . {{ task.title }}</li>
                        {% endif %}
                    {% endfor %}
                    </ul>
            </div>

            <div class="sprint-content-block">
                <h2 class="title-doing">EN COURS</h2>
                    <ul>
                    {% for task in sprint.tasks %}
                        {% if task.status == 'doing' %}
                        <li>{{ task.id }} . {{ task.title }}</li>
                        {% endif %}
                    {% endfor %}
                    </ul>
            </div>

            <div class="sprint-content-block">
                <h2 class="title-done">TERMINÉS</h2>
                    <ul>
                    {% for task in sprint.tasks %}
                        {% if task.status == 'done' %}
                        <li>{{ task.id }} . {{ task.title }}</li>
                        {% endif %}
                    {% endfor %}
                    </ul>
            </div>
        </div>
        
    </div>
    {# <a href="{{ path('sprint_edit', {'id': sprint.id}) }}">edit</a> #}

    
{% endblock %}
