{% extends 'base.html.twig' %}

{% block title %}Sprint{% endblock %}

{% block body %}
    <h1>Sprint</h1>

    <h3>TODO</h3>
        <ul>
        {% for task in sprint.tasks %}
            {% if task.status == 'todo' %}
            <li>{{ task.id }} . {{ task.title }}</li>
            {% endif %}
        {% endfor %}
        </ul>
    <h3>DOING</h3>
        <ul>
        {% for task in sprint.tasks %}
            {% if task.status == 'doing' %}
            <li>{{ task.id }} . {{ task.title }}</li>
            {% endif %}
        {% endfor %}
        </ul>
    <h3>DONE</h3>
        <ul>
        {% for task in sprint.tasks %}
            {% if task.status == 'done' %}
            <li>{{ task.id }} . {{ task.title }}</li>
            {% endif %}
        {% endfor %}
        </ul>

    <a href="{{ path('sprint_index', {'id' : sprint.project.id}) }}">back to list</a>

    <a href="{{ path('sprint_edit', {'id': sprint.id}) }}">edit</a>

    {{ include('sprint/_delete_form.html.twig') }}
{% endblock %}
