{{ form_start(form) }}
        {{ form_label(form.title) }}
        {{ form_widget(form.title, {'attr':{'placeholder':'Title'}}) }}
        {{ form_label(form.resume) }}
        {{ form_widget(form.resume, {'attr':{'placeholder':'Resume'}}) }}
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}