{% extends 'base.html.twig' %}
{% block title %}Project index{% endblock %}
{% block stylesheets %}
   <link rel="stylesheet" type="text/css" href="{{ asset('/projects_asset/stylesheets/project.css') }}">
{% endblock %}
{% block body %}
<section id="wrapper">
   <nav>
      <div class="projects">
         <h2><a href="{{ path('project_index') }}"><   Home</a></h2>
         <h1>Liste des projets</h1>
         <ul class="project-list">
            {% for project in projects %}
            <li><a href="{{ path('backlog', {'project': project.id}) }}">{{ project.title }}</a></li>
            {% endfor %}
         </ul>
      </div>
      <a class="add" href="{{ path('project_new') }}">Ajouter un projet</a>
   </nav>
   <div class="masonry">
      {% for project in projects %}
      <article class="project">
         <img src="https://www.go-sens.fr/img/no-image.jpg">
         <h2>{{ project.title }}</h2>
         <p>{{ project.resume }}</p>
         <div>
            <a href="{{ path('project_edit', {'id': project.id}) }}">Editer</a>
            <a href="{{ path('backlog', {'project': project.id}) }}">Voir</a>
         </div>
      </article>
      {% endfor %}
      </div>
   </div>
</section>
{% endblock %}
